
table {
    border-collapse: collapse;
    margin: auto;
  }
table, th, td {
    border: 1px solid;
   
}
td{
    margin: auto;
    padding: 10px;
}
.heading{
    margin: auto;
    text-align: center;
    padding: 10px;
}
.rating{
    padding: 50px;
}

.text-area{
display: flex;
justify-content: center;
margin: 25px;
padding: 5px;
}

textarea{
   
    width: 500px;
    height: 150px;
}

.form{
    display: flex;
    justify-content: center;
}

.submitButton{
   
   
    margin-top: 10px;
    text-align: center;
}